body {
  font-family: Arial;
  padding: 15px;
  width: 220px;
  background-color: tomato;
  color: white;
}

h2{
    font-size: 16px;
  font-weight: 600;
  margin: 0;
}

select {
  width: 100%;
  padding: 6px;
  margin: 10px 0;
}
